{% extends "layout.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">

        {% include "beta_banner.html" %}

        <div class="outer-block">
            <div class="inner-block">
                <div class="callout callout--summary">
                    <h1 class="heading-large first-heading">
                        Register of title <span class="title-flag">{{ title.number }}</span>
                    </h1>
                    <p>
                        This register was last changed on <b>{{ title.last_changed | datetime}}</b>
                    </p>

                    <div class="lede">

                        <div class="grid grid-1-3">
                            {{ title.address.first_line }}<br>
                            {{ title.address.town }}<br>
                            {{ title.address.postcode }}
                        </div>

                        <figure class="grid grid-1-3">
                            <div id="map" class="title-plan" style="width:300px; height:200px;"></div>
                        </figure>

                    </div>

                    <dl class="definition-tabular">
                        <dt>Owner(s)</dt>
                        <dd>
                        {% for proprietor in title.proprietors %}
                          <p>{{ proprietor.name }}</p>
                        {% endfor %}
                        </dd>

                        <dt>Lender(s)</dt>
                        <dd>{{ title.lenders[0].name }}</dd>

                        <dt>Tenure Type</dt>
                        <dd>{{ title.tenure }}</dd>
                    </dl>

                </div><!-- /summary -->


                <div class="grid-wrapper">

                    <div class="grid grid-1-4"><!-- left col nav -->
                        <section class="inner-block page-contents js-stick-at-top-when-scrolling">
                            <h2 class="visuallyhidden">Register contents</h2>
                                <nav>
                                    <ul>
                                        <li><a href="#property-details">Property details</a></li>
                                    </ul>
                                </nav>
                        </section>
                    </div><!-- / left col nav -->

                    <div class="grid grid-3-4"><!-- right col content -->
                        <div class="inner-block">

                            <section id="property-details" class="text js-faux-details js-faux-details--open">

                                <h2 class="heading-medium collapse-top">Property details</h2>

                                <div class="group">
                                    <h3 class="heading-medium">Owner(s)</h3>

                                    {% for proprietor in title.proprietors %}
                                        <div class="grid grid-1-2">
                                            <p>
                                                {{ proprietor.name }}<br>
                                                {{ proprietor.address }}
                                            </p>
                                        </div>
                                    {% endfor %}

                                </div>
                            </section>

                        </div>
                    </div><!-- / right col content -->
                </div><!-- / grid wrapper -->

            </div><!-- end inner-block -->
        </div><!-- end outer-block -->

    </div><!-- end content -->
</main>
<script src="{{asset_path}}javascripts/map.js"></script>

{% endblock %}
