{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{asset_path}}vendor/leaflet-0.7.3/leaflet.css" />
  {% block head_additionals %}{% endblock %}
{% endblock %}

{% block body_end %}
  <script src="{{asset_path}}vendor/leaflet-0.7.3/leaflet.js"></script><!-- Leaflet -->
  <script src="{{asset_path}}javascripts/proj4.js"></script><!-- proj4js -->
  <script src="{{asset_path}}javascripts/proj4leaflet.js"></script><!-- proj4leaflet -->
  {% block js_additionals %}{% endblock %}
{% endblock %}
