{% extends "govuk_template.html" %}

{% block head %}

<!-- Google Analytics -->
<script type="text/javascript">
  var googleAnalyticsApiKey = '{{ google_api_key }}';
</script>
<script src="{{ asset_path }}javascripts/googleanalytics.js"></script>

{% endblock %}

{% block cookie_message %}

<p>Land Registry uses cookies to make the site simpler. <a href="/cookies">Find out more about cookies</a></p>

{% endblock %}

{% block footer_support_links %}
  <ul>
    <li><a href="/cookies">Cookies</a></li>
    <li>Built by <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
  </ul>
{% endblock %}
